bin
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.toc
doc/date.txt
doc/rad.tex
doc/stan.tex
doc/stanDoc.pdf
doc/stanDoc.ps
doc/tut.tex
doc/util.tex
doc/version.txt
rad/rad
stan/neighbors
stan/stan
stan/targets
stan/r*.txt
stan/*.db
tut/cli.sh
tut/*.db
tut/targets
tut/neighbors